// Ограничение макета
// $wrapper-max: 1440px !default;
// $wrapper-min: 280px !default;


// Site width - more at __containers.scss
$wrapper-max: 1600px;
$wrapper-min: 320px;

// Container width - more at __containers.scss
$container-max-width: 1200px;
$container-padding: 15px;

// User Styles

:root {
    // **
    //** :root {
    //**     --my-color-rgb: 255, 0, 0; 
    //** }

    //** .text {
    //**    color: rgba(var(--my-color-rgb), 0.5);
    //** }


    // colors

    --black-0: rgb(0, 0, 0);
    --black-24: rgb(24, 24, 24);
    --black-48: rgb(48, 48, 48);
    --black-98: rgb(98, 98, 98);
    --black-109: rgb(109, 109, 109);
    --cyan: rgb(89, 155, 167);
    --dark-brown: rgb(53, 43, 48);
    --gold: rgb(255, 206, 118);
    --green: rgb(116, 157, 38);
    --grey: rgb(45, 58, 75);
    --red: rgb(255, 65, 45);
    --white-249: rgb(249, 250, 252);
    --white-250: rgb(250, 250, 250);
    --white-255: rgb(255, 255, 255);

    --accent: var(--gold);

    --bg-dark: var(--white-249);
    --bg-dark: var(--black-24);

    --text-white: var(--white-255);
    --text-gold: var(--gold);
    --text-blac: var(--black-24);

    // Fonts

    --ff-main: "Poppins";

    // Gaps, Margins and Paddings

    // ** padding-bottom: calc(var(--gap-v) * 2.5);

    // ~ vertical padding
    // --gap-v: clamp(1.3rem, 0.645rem + 3.27vw, 3.1rem);
    --gap-v: clamp(1.3rem, 0.645rem + 3.27vw, 3.1rem);

    //  ~ container padding
    --gap-aside: clamp(1.5rem, -2.024rem + 7.62vw, 20rem);

    // ~container padding for @nclude mobile
    // --gap-aside--mobile: clamp(4rem, -3.5rem + 26.5vw, 10rem);
    --gap-aside--mobile: clamp(4rem, -3.5rem + 23.5vw, 10rem);

    // horizontal gap
    --gap-h: clamp(0.5rem, 0.252rem + 1.24vw, 1.8rem);

}

// !!!! main gradient size*6, margin? @include mobile size*3