#footer{
    // ?? grid-area: "footer"; helpers -> _grid.scss
    background: linear-gradient(90deg, rgba(128, 128, 128, .6) calc(100% / 2), rgba(250, 128, 114, .6) calc(100% / 2));
    overflow: hidden;// for swiper
}

.footer {
    background: linear-gradient(90deg, rgba(128, 128, 128, .6) calc(100% / 2), rgba(250, 128, 114, .6) calc(100% / 2));
  padding-top: calc(var(--gap-v) * (3));
     padding-bottom: calc(var(--gap-v) * (3));
    height: calc(30vh - calc(var(--gap-v) * 1));
    color: red;
}