// !! https://oxygen4fun.supadezign.com/tips/swiperjs-tips-and-good-practice/ настройки

// !! https://open-code.tech/en/post-1823/ настройки позиционирования, кастомизация и многое другое

// !! dots and pagination outside the slide
// .somesection         //overflow:hidden фиксит баг с гридами
//  .swiper-container   // задать ограничение height для vertical и width для горизонтального слайдера
//    .swiper 
//      .swiper-wrapper 
//        .swiper-slide 
//        .swiper-slide
//        .swiper-slide
//    .swiper-pagination
//    .swiper-button-prev
//    .swiper-button-next

//!! swiper будет просвечивать сквозь header sticky
// !! или header: z-index:100 - тогда не просвечивает слайдер
// !! или всем секциям position: relative


.test-swiper {
  background-color: rgba(0, 0, 255, 0.1);
  max-width: 100%;
  //  max-width определяет ширину слайдера
  margin-left: 20px;
  margin-right: 20px;
  height: 350px;
  // height включает место для буллетов и скролла, чтобы вынести их под слайд ипользуем аддинг
  padding-bottom: 50px;
}

.test-swiper-slide {
  background-color: rgba(0, 0, 255, 0.1);
  width: 700px;
  // ширина слайда роли не играет, определяет ширина контейнера
  height: 100%;
  margin-top: 10px;
  // gap между слайдами задается св-вом spaceBetween слайдера

}

.test-swiper-img {
  width: 200px;
  height: 150px;
}

//!! позиционирование bulletsov https://open-code.tech/en/post-1823/
// !! если пагинация лежит не в .test-swiper, то юзаем .test-swiper-container

// кнопки вверху
.test-swiper-pagination .swiper-pagination-bullets{
  bottom: initial;
  top: 10px;
}

// кнопки внизу срава
.test-swiper-pagination .swiper-pagination-bullets{
  width: initial;
  left: initial;
  right: 0;
}

// !! кастомизация кнопок

.test-swiper-pagination .swiper-pagination-bullet {
  background: red;
  opacity: 1;
  width: 15px;
  height: 15px;
  margin: 0 30px !important;
}

.test-swiper-pagination .swiper-pagination-bullet-active {
  background: yellow;
  opacity: 0.2;
  width: 15px;
  height: 15px;
}

.test-swiper-button-prev::after  {
  content: "левое";
  color: red;
  width: 30px;
  height: 30px;
  background: salmon;
}

.test-swiper-button-next::after  {
  content: "pravoye";
  color: red;
  width: 60px;
  height: 60px;
  background: salmon;
}

.test-swiper-scrollbar {
  color: red;
}